@model FizzBuzzMVC.Models.FizzBuzz

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>FizzBuzz</h1>
            <h4 class="lead">
                This application will consider the twonumbers enterd and for each nubmer between 1 and 100. It will print FIZZ for numbers that are divisible by the first number. BUZZ will be printed for the numbers divisible by the second number. FIZZBUZZ for the numbers divisible by both and simply print the number if it is not divisible by either.
            </h4>

            <h2 class="mt-5 border-bottom border-2">Instructions</h2>
            <p>Enter 2 numbers. the first number will be used to evaluate Fizz. the second number will be used to evaluate Buzz and FizzBuzz will be determined based on the combination of the two numbers.</p>
        </div>
        <div class="col">
            <div>
                <h5>Enter Values</h5>


                <form asp-controller="Home" asp-action="FBPage" method="post"> <!-- class="row gy-2 gx-3"> -->
                    <div class="form-group">
                        <label asp-for="FizzValue">Fizz Value</label>
                        <input type="number" asp-for="FizzValue" class="form-control" placeholder="Fizz value" value="@Model.FizzValue" aria-label="Fizz Value">
                    </div>
                    <div class="form-group">
                        <label asp-for="BuzzValue">Buzz Value</label>
                        <input type="number" asp-for="BuzzValue" class="form-control" placeholder="Buzz value" value="@Model.BuzzValue" aria-label="Buzz Value">
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-dark btn-lg">Display the FizzBuzz</button>
                    </div>
                </form>


                <h2 class="mt-5 border-bottom border-2">Results</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm table-dark">
                        <tbody id="results">
                            <!--## results go here ##-->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<template id="fbTemplate">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</template>